@charset "UTF-8";

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: url('../images/main_background.mp4');
}

form {
	background :rgba(0,0,0,0.7);
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 800px;
}

label {
	font-size: 14px;
	margin-bottom: 8px;
	color:  #fff;
}

input {
	width: 300px;
	padding: 10px;
	margin-bottom: 16px;
	box-sizing: border-box;
	border: 1px solid #ced4da;
	border-radius: 4px;
	font-size: 14px;
}

.radio_change input {width:7%;}

button {
	background-color: #007bff;
	color: #fff;
	padding: 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	height: 40px;
	position: relative; 
	top:4px;
	margin-right: 10px;
}

.subBtn, .resBtn {
    display: inline-block;
}

span{
      display: inline-block; /* 인라인 블록 요소로 설정하여 버튼 옆에 표시 */
 }

span.error-message {
	color: #dc3545;
	margin-bottom: 16px;
	width: 100%;
	text-align: center;
	font-size: 14px;
}
/*패스워드*/
#pwCon {display: flex;}
#pw1 { margin-right: 10px;}
#pwt{
	margin-top: 5px;
	 height: 23px;
	 color: #fff;
}
/*패스워드 확인*/
#pwCheck {
    white-space: nowrap;
    width: 200px;
    color: #fff;
    float: right;
    position: relative;
    left: 10px;
    top: 8px;
}
#selBtn{text-align: center;}
th{color:  #fff;}
td{width: 500px; }
table{margin:0 auto; }
h1{color: #fed000;}
#video {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	overflow: hidden;
}
.Mup{color: greenyellow; }